* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  background-color: black;
  padding: 2rem;
}
.card_container {
  background-color: aquamarine;
}
.card_container  {
  text-align: center;
 
}

.top_card :first-child{
    pa
}


.present {
  background-color: #f57d1f;
  height: 16vh;
  width: 35%;
  border-radius: 100%;
  background-color: brown;
  margin: auto;

}

.top_card {
  background-color: blue;
}
.bottom_card {
  background-color: chartreuse;
  height: 100%;
}
