*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.container{
background-color: black;
padding: 5rem;

}
.card_container{
background-color: aquamarine;



}
.
.present{
    background-color: #F57D1F;
}

.top_card{
background-color: blue;


}
.bottom_card{

    background-color: chartreuse;
}



