* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.container {
  padding: 2rem;
}
.card_container {
  box-shadow: 5px 5px 5px 5px #3e3e3e51;
}

.card_container {
  text-align: center;
}

.top_card :first-child {
  padding: 1rem;
}
.present :first-child {
  font-size: 2.5rem;
}

.present {
  height: 20vh;
  width: 40%;
  border-radius: 100%;
  background: -moz-repeating-radial-gradient(#a66955,#862B0D);
  margin: auto;
}

.describ {
  padding: 1rem;
}

.top_card {
  background-color: #B5C99A;
}

.bottom_card :first-child {
  padding: 1rem 1rem;
  display: flex;
}

.bottom_card .box {
  display: flex;
  padding: 0.5rem;
}

.box1 p {
  background-color: #862B0D;

  width: 100%;
  height: 8.5vh;
}

.box2 p {
  background: #B5C99A;

  width: 100%;
  height: 8.5vh;
}
.box3 p {
  background: #FFC95F;

  width: 100%;
  height: 8.5vh;
}
.box4 p {
  background: #FFF9C9;
  width: 100%;
  height: 8.5vh;
}

.number {
  display: flex;
}

a {
  align-items: center;
  height: 6vh;
  display: flex;
  margin: 1rem;
  justify-content: center;
  background-color: #862B0D;
  text-decoration: none;
  border-radius: 15px;
  font-size: 20px;
}

.box5 {
  height: 8.6vh;
  padding: auto;
}
